.background-clients{
    width: 100%;
    height: 700px;
    background: url('../src/img/background-2.png') no-repeat center center;
    background-size: cover;

    @include md-block{
        height: 900px;
    }

    @include sm-block{
        height: 1450px;
    }

}
.clients__title {
    text-align: center;
    padding-top: 200px;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.clients__wrap-list {
    @include row-flex;
    padding-top: 60px;
}

.clients__item{
    @include col;
    @include size(3);
    @include size-md(6);
    @include size-xs(12);
    border: 2px solid rgba(255, 255, 255, 0.25);
    display: flex;
    justify-content: center;
    height: 200px;

    @include md-block{
        margin-top: 25px;
    }
}

.clients__img{
    display: block;
    align-self: center;
}